@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;

  --color-background: #fdfbd4;
  --color-foreground: #0f0f06;

  --color-card: #d8d47b;
  --color-card-foreground: #0f0f06;

  --color-muted: #b0ad62;
  --color-muted-foreground: #414021;

  --color-border: #89864b;

  --radius: 0.625rem;
}

.dark {
  --color-background: #0f0f06;
  --color-foreground: #fdfbd4;

  --color-card: #18180a;
  --color-card-foreground: #fdfbd4;

  --color-muted: #21210e;
  --color-muted-foreground: #d8d47b;

  --color-border: #646236;
}

@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--color-border, currentColor);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #site-nav[data-state="closed"] {
    @apply pointer-events-none transition-none;
    transform: translate3d(0px, -100vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  #site-nav[data-state="open"] {
    @apply pointer-events-auto transition-transform;
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  a {
    position: relative;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    border-radius: 4px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(1);
    transition:
      transform 0.5s ease-in-out,
      transform-origin 0s linear 0.5s;
  }

  a:hover::before {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }

  .expressive-code {
    @apply mt-4;
  }

  @view-transition {
    navigation: auto;
  }

  ::view-transition-old(root) {
    animation-delay: 1s;
  }

  ::view-transition-new(root) {
    animation: circle-in 1s;
  }

  @keyframes circle-in {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
  }
}
