---
import profileImage from "@assets/profile.png";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { SITE_AUTHOR } from "src/constants";
---

<BaseLayout
  title="About • Udoh Jeremiah"
  description="I'm Udoh Jeremiah — A software engineer, speaker, and writer"
>
  <main class="flex-1">
    <section
      class="flex h-[calc(100vh-4rem)] items-center justify-center px-8 py-20 md:h-[calc(100vh-6rem)]"
    >
      <div class="flex flex-col gap-1 uppercase">
        <p class="text-muted-foreground text-xs md:text-sm">I am</p>
        <p class="text-6xl font-black md:text-7xl lg:text-8xl xl:text-9xl">
          {SITE_AUTHOR}
        </p>
        <p class="text-muted-foreground self-end text-xs md:text-sm">
          I write, speak and code...
        </p>
      </div>
    </section>

    <section
      class="relative isolate overflow-hidden bg-gray-950 p-10 md:p-20 lg:p-16 xl:p-32"
    >
      <Image
        src={profileImage}
        alt="Udoh Jeremiah"
        width="940"
        height="880"
        class="absolute inset-x-0 top-0 mask-b-from-30% object-cover lg:start-auto lg:h-full lg:w-2/3 lg:mask-l-from-30%"
        style="color:transparent"
      />
      <div
        class="relative max-xl:max-w-2xl max-lg:mx-auto max-lg:mt-60 lg:max-w-lg xl:max-w-2xl"
      >
        <p class="text-2xl/10">
          I'm a man of few commitments. But when I do commit, I give it
          everything — my body, soul, and spirit. Every line of code I write,
          every speech I deliver, every essay I publish carries a part of me. It
          reflects who I am. That's why I strive for nothing less than my very
          best.
        </p>
        <p class="mt-8 text-base/8 font-medium">Udoh Jeremiah</p>
        <p class="text-muted-foreground">Coder, Speaker and Writer</p>
      </div>
    </section>
  </main>
</BaseLayout>
