@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rehype-pretty-code-figure] {
  @apply relative rounded-lg border border-neutral-800;
}

pre:not([data-rehype-pretty-code-figure] > pre) {
  @apply rounded-lg border border-neutral-800;
}

[data-rehype-pretty-code-title] {
  @apply mt-0 rounded-t-lg border-b border-neutral-800 bg-inherit bg-neutral-900 px-6 py-3 font-mono text-sm font-medium text-white;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

pre > code {
  counter-reset: line;

  @apply min-w-max;
}

pre > code > [data-line]::before {
  content: counter(line);
  counter-increment: line;

  @apply mr-8 inline-block w-4 text-right text-neutral-500;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-6;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-8;
}

[data-highlighted-chars] {
  @apply m-0 rounded bg-white/30 px-1;
}

[data-highlighted-line] {
  @apply relative -mx-6 inline-block bg-neutral-700 px-6;
}

pre > code[data-language] > [data-highlighted-line-id="warning"],
[data-highlighted-line-id="error"],
[data-highlighted-line-id="remove"],
[data-highlighted-line-id="add"] {
  @apply before:mr-8 before:inline-block before:w-4 before:text-right;
}

pre > code[data-language] > [data-highlighted-line-id="warning"] {
  @apply bg-yellow-500/30 before:text-yellow-400 before:content-['!!'];
}

pre > code[data-language] > [data-highlighted-line-id="error"] {
  @apply bg-red-500/30 before:text-red-400 before:content-['âŒ'];
}

pre > code[data-language] > [data-highlighted-line-id="remove"] {
  @apply !bg-red-600/20 opacity-70 before:text-red-400 before:content-['-'];
}

pre > code[data-language] > [data-highlighted-line-id="add"] {
  @apply !bg-green-500/30 before:text-green-400 before:content-['+'];
}
