---
import Checkmark from "@assets/checkmark.svg";
import { Image } from "astro:assets";
import { SITE_AUTHOR } from "src/constants";

export type Props = Record<string, never>;
---

<footer class="flex flex-col gap-16 border-t px-8 py-20 lg:px-20">
  <div
    class="flex flex-col gap-8 md:flex-row md:items-center md:justify-between"
  >
    <div class="font-semibold">
      <p class="flex items-center gap-2 text-xl sm:text-2xl">
        Udoh Jeremiah <Image src={Checkmark} alt="" width={20} height={20} />
      </p>
      <a
        href="https://github.com/udohjeremiah"
        class="text-muted-foreground text-sm sm:text-base"
      >
        GitHub • @udohjeremiah
      </a>
    </div>
    <ul
      class="flex items-center gap-8 uppercase md:flex-col md:items-end md:text-2xl"
    >
      <li><a href="/rss.xml">RSS</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
      <li><a href="/colophon">Colophon</a></li>
    </ul>
  </div>
  <div class="bg-border h-px w-full shrink-0"></div>
  <div class="flex flex-col gap-8 text-xs md:flex-row md:justify-between">
    <p>
      &copy; {new Date().getFullYear()}
      {SITE_AUTHOR}. Licensed under
      <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">
        CC BY-NC 4.0
      </a>
    </p>
    <p class="max-w-prose md:text-end">
      <q class="italic"
        >Lying on my deathbed, leaving planet Earth, I would look back on how I
        lived my life to see if I failed or succeeded. I would consider myself a
        successful servant if I knew I was leaving Earth in a better place and
        condition through my contributions than when I first met her. This could
        be in a big or small way, but I must leave her knowing my contributions
        made her a better place and kept her in better condition. Otherwise, I
        would be dying a miserable failure who forgot and never did the work of
        the Master — Yahweh—who sent me.</q
      >
      <span class="whitespace-nowrap">
        — Udoh Jeremiah, at 19 years and 291 days old.
      </span>
    </p>
  </div>
</footer>
