---
import Navigation from "@components/Navigation.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";

export type Props = Record<string, never>;
---

<header
  class="bg-background sticky inset-0 z-50 flex items-center justify-between px-8 py-4 sm:p-8 lg:px-20"
>
  <a href="/" class="text-5xl font-black before:content-none">UJ</a>
  <div class="flex items-center justify-center gap-2">
    <Navigation />
    <ThemeSwitcher />
  </div>
</header>
