---
import opengraphImage from "@assets/opengraph-image.png";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
import "@styles/global.css";
import type { ComponentProps } from "astro/types";
import { SITE_DESCRIPTION, SITE_TITLE } from "src/constants";

type Props = ComponentProps<typeof BaseHead> & { children: unknown };

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = opengraphImage,
} = Astro.props;
---

<!doctype html>
<html lang="en-GB" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="bg-background text-foreground flex min-h-screen flex-col antialiased"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
